{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container-fluid px-0">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://source.unsplash.com/3000x1000/?icecreams" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Welcome to Anurudh icecreams</h5>
        <p>Varieties of icecreams we are selling.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/3000x1000/?winter" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Enjoy your favorite icecreams</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/3000x1000/?summer" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Ice Creams and Desserts</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container py-3">
<h1 class="my-5 text-center"> Select icecreams from our range</h1>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1200x900/?icecream" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text" _msthash="1937507" _msttexthash="9043151" style="direction: ltr; text-align: left;">this is a wider card with supporting text below as a natural introduction to additional content. this content is a little longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3235427" _msttexthash="63401" style="direction: ltr;">width</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3235609" _msttexthash="162188" style="direction: ltr;">modulation</button>
                </div>
                <small class="text-muted" _msthash="2661984" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1200x900/?cupcake" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text" _msthash="1937858" _msttexthash="9043151" style="direction: ltr; text-align: left;">this is a wider card with supporting text below as a natural introduction to additional content. this content is a little longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3235999" _msttexthash="63401" style="direction: ltr;">width</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3236181" _msttexthash="162188" style="direction: ltr;">modulation</button>
                </div>
                <small class="text-muted" _msthash="2662465" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1200x900/?desserts" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text" _msthash="1938209" _msttexthash="9043151" style="direction: ltr; text-align: left;">this is a wider card with supporting text below as a natural introduction to additional content. this content is a little longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3236571" _msttexthash="63401" style="direction: ltr;">width</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3236753" _msttexthash="162188" style="direction: ltr;">modulation</button>
                </div>
                <small class="text-muted" _msthash="2662946" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1200x900/?chocolate" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text" _msthash="1938911" _msttexthash="9043151" style="direction: ltr; text-align: left;">this is a wider card with supporting text below as a natural introduction to additional content. this content is a little longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3237715" _msttexthash="63401" style="direction: ltr;">width</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3237897" _msttexthash="162188" style="direction: ltr;">modulation</button>
                </div>
                <small class="text-muted" _msthash="2663908" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1200x900/?vanilla" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text" _msthash="1939262" _msttexthash="9043151" style="direction: ltr; text-align: left;">this is a wider card with supporting text below as a natural introduction to additional content. this content is a little longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3238287" _msttexthash="63401" style="direction: ltr;">width</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3238469" _msttexthash="162188" style="direction: ltr;">modulation</button>
                </div>
                <small class="text-muted" _msthash="2664389" _msttexthash="115934" style="direction: ltr; text-align: left;">9 minutes</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1200x900/?popsicle" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text" _msthash="1939613" _msttexthash="9043151" style="direction: ltr; text-align: left;">this is a wider card with supporting text below as a natural introduction to additional content. this content is a little longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3238859" _msttexthash="63401">width</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" _msthash="3239041" _msttexthash="162188">modulation</button>
                </div>
                <small class="text-muted" _msthash="2664870" _msttexthash="115934">9 minutes</small>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
</div>
{% endblock body %}
