<!doctype html>
<html lang="en">
  <head>
   
    <style>
      .navbar-brand {
        font-size: 22rem; /* Increase the font size */
        font-weight: bold; /* Make the font bold */
        color: #0000FF; /* Change the text color to blue */
        text-shadow: 2px 2px 4px #000000; /* Add a text shadow */
      }

      .selected {
        background-color: #727678;
        border-radius: .25rem;
        width: auto;
        height: auto;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 10);
      }
    </style>

  
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>{% block title%} {% endblock %}</title>
     <style>
       {% block css %} {% endblock %}
  </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/shop">Store247</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li id="home" class="nav-item">
        <a class="nav-link" href="/shop">Home <span class="sr-only">(current)</span></a>
      </li>
      <li id="about" class="nav-item">
        <a class="nav-link" href="/shop/about">About Us</a>
      </li>
      <li id="tracker" class="nav-item">
        <a class="nav-link" href="/shop/tracker">Tracker</a>
      </li>
      <li id="contact" class="nav-item">
        <a class="nav-link" href="/shop/contact">Contact Us</a>
      </li>
    </ul>
    <form method='get' action='/shop/search/' class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">



  Cart(<span id="cart">0</span>)
</button>
  </div>
</nav>
  {% block body %} {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% block js %} 
    <script>
      const navbarItems = document.querySelectorAll(".nav-item");
  
      navbarItems.forEach((item) => {
        item.addEventListener("click", (event) => {
          // Remove the "selected" class from all navbar items
          navbarItems.forEach((item) => item.classList.remove("selected"));
  
          // Add the "selected" class to the clicked navbar item
          event.target.classList.add("selected");
        });
      });
    
    </script>
    
    
    {% endblock %}
  </body>
</html>
